table{
	border:1px solid blue;
	border-collapse:collapse;
	background-color:lightyellow;
	/*background-image:url(pizza.png);*/
}
td{
	padding:10px;
	border:1px solid blue;
	text-align:left;
}
/*img{
	height: 60px;
	width: 60px;
	opacity:0.3;
	filter:alpha(opacity=30);
}
*/
