table{
	border:1px solid blue;
	border-collapse:collapse;
	background-color:lightyellow;
	background-image:url("pizza.png");
}
td{
	padding:10px;
	border:1px solid blue;
	text-align:left;
}
img{
	opacity:0.5;
	filter:alpha(opacity=50);
}
